<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Home</title>
</head>
<body>
    <div class="header">
        <a href="home.php" class="logo" id="logo">E-Course</a>
        <div class="header-right">
            <a href="home.html" id="home">Home</a>
            <a href="course.html" id="course">Browse</a>
            <div class="dropdown">
                <button class="dropbtn"> <%= full_name %> 
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="aboutus.html">About Us</a>
                    <a href="profile.html">Profile</a>
                    <a href="mycourse.html">My Course</a>
                    <a href="achievement.html">Achievement</a>
                    <a href="/logout">Log Out</a>
                </div>
            </div>
        </div>
    </div>

    <div class="breadcr" style="margin-top: -17px;">
        <ul class="breadcrumb">
            <li>Home</li>  
        </ul>
    </div>

    <div class="wel">
        <h1>Learn <br> Without <br> Limits</h1>
        <img src="images/learn.png" alt="kids-learning">
        <p>Build skills with courses from world-class <br> companies and universities</p>
        <a href="course.html"><button class="btnbrowse">Browse Course</button></a>
    </div>

    <div class="content">
        <article class="ecourse-all">
            <h3>Why E-Course?</h3>
            <article class="ecourse-why">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac porttitor ligula. Sed sodales lorem tellus, et facilisis nunc eleifend quis. Integer in dignissim nisi. Sed eu viverra metus, nec luctus nisi. Morbi sodales dapibus massa id tristique. Etiam eget mi nunc. Fusce condimentum erat quis iaculis aliquam. Curabitur eu sapien ligula. Proin venenatis sit amet odio vel dignissim. Donec molestie porta felis, vel faucibus libero lacinia in. 
                    <br><br>
                    Praesent vehicula, eros sit amet pellentesque cursus, neque turpis molestie magna, in ultricies sapien metus vel justo. Morbi elit lacus, sagittis ut mi non, ultrices finibus nisi. Donec sed mauris vel ligula placerat molestie. Aliquam condimentum at quam ut sodales. Nam commodo nibh non lectus varius blandit. Suspendisse ultricies congue tortor nec varius. Donec sit amet mi sed odio pellentesque porta at nec ante. Duis elementum malesuada leo ac malesuada.
                </p>
            </article>
        </article>
        <img src="images/study.jpg" alt="person-studying">
    </div>
        
    <div class="footer">
        <a href="#default" class="logo">E-Course</a>
        <div class="footer-right">
            <p>Copyright E-Course Management</p>
        </div>
    </div>

</body>
</html>